/test/nbproject/private/
/0072/nbproject/private/
/0067/nbproject/private/
/0077/nbproject/private/
/0065/nbproject/private/
/0065/build/
/0058/nbproject/private/
/0058/build/
/0056/nbproject/private/
/0056/build/
/0052/nbproject/private/
/0052/build/
/dictionary/nbproject/private/
/dictionary/build/
/doctor/nbproject/private/
/doctor/build/
/worker/nbproject/private/
/doctor2/nbproject/private/
/doctor2/build/
/taskManage/nbproject/private/
/taskManage/build/
/worker/build/
/worker2/nbproject/private/
/worker2/build/
/worker3/nbproject/private/
/workerManage/nbproject/private/
/workerManage/build/
/workerManage/dist/
/perimeter/nbproject/private/
/worker/dist/
/perimeter/build/
/fibo/nbproject/private/
/doctorFinal/nbproject/private/
/doctorFinal/build/
/WorkerManager/nbproject/private/
/WorkerManager/build/
/TaskManager/nbproject/private/
/TaskManager/build/
/StudentMange/nbproject/private/
/TPBank/nbproject/private/
/TPBank/build/
/TPBankFinal/nbproject/private/
/binarySearch/nbproject/private/
/binarySearch/build/
/TPBankFinal/build/
